.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.cards-block, .footer-block .social-media, .social-media--left, .social-media, .work__list, .menu-contacts, .menu-social, .menu-nav, .contacts, .nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address__link--gray, .address__link, .menu-social__link, .menu-contacts__mail, .menu-contacts__tel, .menu-nav__link, .contacts__link, .nav__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--gray:hover, .address__link:hover, .menu-social__link:hover, .menu-contacts__mail:hover, .menu-contacts__tel:hover, .menu-nav__link:hover, .contacts__link:hover, .nav__link:hover {
  color: #2196f3;
}
.address__link--gray:focus, .address__link:focus, .menu-social__link:focus, .menu-contacts__mail:focus, .menu-contacts__tel:focus, .menu-nav__link:focus, .contacts__link:focus, .nav__link:focus {
  color: #2196f3;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 479px) {
  .container-footer {
    width: 320px;
  }
}
@mincl (min-width: 480px) {
  .container-footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
  }
}

.filter__button, .subscribe-form__button, .hero__button {
  margin: 0 auto;
  padding: 10px 32px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

textarea {
  resize: none;
}

.section {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767.98px) {
  .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-titel {
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
  margin: 0;
}

.page-header-nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .page-header-nav {
    width: 1200px;
  }
}

@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
  }
  .nav__item .current::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -2px;
    left: 0;
    background-color: #2196f3;
  }
  .nav__item .current {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
  }
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 10px;
  padding: 0;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  fill: currentColor;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.js-open-menu {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .js-open-menu {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
.js-open-menu__icon {
  fill: currentColor;
}
.js-open-menu__icon:hover, .js-open-menu__icon:focus {
  fill: #2196f3;
}

.js-close-menu {
  display: none;
}
.js-close-menu__icon {
  fill: currentColor;
}
.js-close-menu__icon:hover, .js-close-menu__icon:focus {
  fill: #2196f3;
  border: none;
}
@media screen and (max-width: 767.98px) {
  .js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 99;
  }
}

.menu-container.is-open {
  display: flex;
  min-height: 796px;
}

.menu-container {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 796px;
  width: 100vw;
  background-color: #ffffff;
  padding: 40px 40px 48px 40px;
  text-align: left;
}
@media screen and (max-width: 479px) {
  .menu-container {
    padding: 40px 10px 48px 10px;
  }
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-nav .menu-nav__item:not(:last-child) {
  margin-bottom: 30px;
}
.menu-nav .current {
  color: #2196f3;
}

.menu-contacts__item {
  margin-bottom: 32px;
}
.menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #2196f3;
}

.menu-social__item:not(:last-child)::after {
  content: "";
  margin-right: 10px;
  margin-left: 10px;
  height: 22px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-color: #757575;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_sm.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_sm2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_md.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_md2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_bg.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero_bg2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
  }
}

.hero__titel {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .hero__titel {
    font-size: 44px;
  }
}

.hero__button {
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}

.logo {
  display: block;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}
.logo--acentcolor {
  color: #2196f3;
}
.logo--white {
  color: white;
}
.logo--right {
  margin-right: 88px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo--right {
    margin-right: 92px;
  }
}
.logo--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .features {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__titel {
  margin-top: 0px;
  margin-bottom: 2px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1200px;
  }
}

.features__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 100%;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  margin: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.section.team {
  background-color: #f5f4fa;
}

.teammate {
  display: block;
}
@media screen and (min-width: 768px) {
  .teammate {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
}

.teammate__item {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .teammate__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .teammate__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .teammate__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .teammate__item {
    width: calc((100% - 120px) / 4);
  }
}

.teammate__card {
  padding-top: 30px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .teammate__card {
    padding: 30px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .teammate__card {
    padding: 30px 32px;
  }
}

.teammate__name {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.teammate__position {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 22px;
  padding-right: 22px;
}
.social-media--left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 0;
  padding: 0;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link--gray {
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 10px;
  margin-bottom: 0;
}
.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
  outline: none;
}
.social-media__link:hover svg, .social-media__link:focus svg {
  fill: white;
}

.social-media__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon--white {
  fill: white;
}

@media screen and (min-width: 480px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    width: 1200px;
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: white;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-bottom: 15px;
}
.clients__item:hover, .clients__item:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}
.clients__item:hover svg, .clients__item:focus svg {
  fill: #2196f3;
}
@media screen and (min-width: 480px) {
  .clients__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.clients__link {
  padding: 0;
  margin: 0;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
  }
}

.logo-footer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    margin-right: 70px;
  }
}
.footer-block .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 22px;
  padding-right: 22px;
}
@media screen and (min-width: 1200px) {
  .footer-block .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-block {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-block:not(:first-child) {
    margin-top: 60px;
  }
}
.footer-block__titel {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .footer-block__titel {
    text-align: left;
  }
}

.address {
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__link {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address__link--gray {
  display: block;
  margin-bottom: 0;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__wrapper {
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscribe_form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe_form {
    margin-top: 0;
    margin-right: 0;
  }
}

.subscribe-form__wrapper input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 0 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .subscribe-form__wrapper input {
    width: 100%;
  }
}
.subscribe-form__wrapper input:hover, .subscribe-form__wrapper input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}
.subscribe-form__wrapper input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__wrapper input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button__wrapper {
  position: relative;
  margin-top: 0;
}

.subscribe-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    padding-right: 64px;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 0;
  }
}

.subscribe-form__icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(200%, 50%);
  margin: 0;
  fill: white;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item {
  margin-right: 4px;
  margin-left: 4px;
}

.filter__button {
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.card__link {
  position: relative;
  display: block;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link:hover .card__text, .card__link:focus .card__text {
  transform: translate(0, -100%);
}

.card__description {
  margin: 0;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card__titel {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__subtitel {
  margin-bottom: 0;
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  left: 0;
  bottom: -100%;
  margin: 0;
  height: 294px;
  background-color: #2196f3;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.9;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.98px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    padding: 40px 15px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close__icon {
  fill: currentColor;
}
.modal-close__icon:hover, .modal-close__icon:focus {
  fill: #2196f3;
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__titel {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.form-field__box {
  position: relative;
}

.form-field {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}
.form-field__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__input {
  margin: 0;
  width: 100%;
  padding: 12px 0px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 1.2;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input:focus, .form-field__input:hover {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field__icon {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.form-field:hover .form-field__icon {
  fill: #2196f3;
}

.textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  font-size: 16px;
  line-height: 1.2;
}

.form-field input[type=checkbox] {
  width: 16px;
  height: 15px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox-label {
  margin-top: 10px;
}
@media screen and (min-width: 480px) {
  .checkbox-label {
    align-items: center;
    display: flex;
  }
}

.checkbox__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid #212121;
}

.checkbox__icon--checked {
  position: absolute;
  top: -2px;
  right: -1px;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196f3;
  border: 3px solid #2196f3;
}

.checkbox__text,
.checkbox__link {
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__text,
.checkbox__link {
    font-size: 14px;
  }
}

.checkbox__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  text-decoration: underline;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 0;
  min-width: 200px;
  height: 50px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:focus, .form__button:hover {
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */