html {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: $primary-text-color;
  font-family: $primary-font;
  letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

   }

*,
*::before,
*::after {
  box-sizing: inherit;
}

textarea {
  resize: none;
}

.section {
margin: 0;
padding-top: 60px;
padding-bottom: 60px;

@include mq (desk) {
  padding-top: 94px;
  padding-bottom: 94px;
  
}
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // border: 1px solid tomato;
}

.container {
  
  @include mq (mob-only) {

  width: 100%;
  // padding-left: 5px;
  // padding-right: 5px;
   
  }

  @include mq (mob) {
   width: 450px;
  }

  @include mq (tab) {
    width: 768px;
  }
  
  @include mq (desk) {
    width: 1200px;
  }
}
 
.section-titel {
  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
  

