
.hero {   
  background-color: $paragraf-text-color;
  text-align: center;
  
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
 
  background-image: linear-gradient(to right, #2f303a66, rgba(47, 48, 58, 0.4)),
    url("../images/header-bgr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  // max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  
}


.hero__titel {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

.hero__button {
  @extend %button;
  min-width: 216px;
}