.logo {
  display: block;
  margin: 0;
  padding: 0;
  color:black;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;

    &--acentcolor {
      color: $acent-color;
      }
    &--white {
      color: #ffff;
      }

    &--right { 
      margin-right: 88px;
      padding-top: 16px;
      padding-bottom: 16px;

      @media screen and (min-width: 1200px) {
        margin-right: 92px;
        
      }
    }

      &--center {
      @include centerBlock;
    }
  
     
 }




 


