.logo {
  display: block;
  margin: 0;
  padding: 0;
  color:black;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;

    &--acentcolor {
      color: $acent-color;
      }
    &--white {
      color: #ffff;
      }

    &--right { 
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 24px;
  
    }
 }




 


