.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

    .modal {
    transform: translate(-50%, -50%) scale(0.9);
    }
}



.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

    &__icon {
    fill: currentColor;

        &:hover,
        &:focus {
        fill: $acent-color;
        }      
    }
}


// форма замовлення у мод вікні



.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__titel {
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: $primary-text-color;

    }
}

.form-field__box {
  position: relative;
}

.form-field {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;

    &__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $paragraf-text-color;
    }
}

.form-field__input {
  margin: 0;
  width: 100%;
  padding: 12px 0px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  height: 40px;

  font-size: 16px;
  line-height: 1.2;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

    &:focus,
    &:hover, {
        outline: none;
        border: 1px solid $acent-color;
        
    }

}

.form-field__icon {
position: absolute;
display: inline-block;
left: 10px;
top: 50%;
transform: translateY(-50%);

    .form-field:hover & {
    fill: $acent-color;
    }
}


.textarea {
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;

    font-size: 16px;
    line-height: 1.2;

    }


































.form-field input[type='checkbox'] {
  width: 16px;
  height: 15px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox__icon {
  position: relative;
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid #212121;
}

.checkbox__icon--checked {
  position: absolute;
  top: -2px;
  right: -1px;
}

.checkbox:checked + .checkbox__icon {
  background-color: $acent-color;
  border: 3px solid #2196f3;
}

.checkbox__text,
.checkbox__link {
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: $paragraf-text-color;
}

.checkbox__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $acent-color;
  text-decoration: underline;
}

.form__button {
  margin-top: 30px;
  margin-bottom: 0;
  min-width: 200px;
  height: 50px;
  color: white;
  background-color: $acent-color;
  border: none;
  border-radius: 4px;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

